<% if admin_user_signed_in? %>
 <span class="nav-item float-end m-5 mt-2">
    <%= link_to 'logout', destroy_admin_user_session_path%>
  </span>
<% else %>
  <span class="nav-item float-end m-5 mt-2">
    <%= link_to 'Sign in', new_admin_user_session_path, class: "nav-link"%>
  </span>
<% end %>
